<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.view"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.view.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.view.ItemDetailActivity"
            android:label="@string/title_item_detail"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name="com.view.LoginFragment"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name="com.view.menu.CategoryFragment"
            android:label="@string/title_activity_category_fragment" >
        </activity>
        <activity
            android:name="com.view.FoodDetailList"
            android:label="@string/title_activity_food_detail_list" >
        </activity>
        <activity
            android:name="com.view.menu.DishSelectionFragment"
            android:label="@string/title_activity_dish_selection_fragment" >
        </activity>
        <activity
            android:name="com.view.busboy.BusboyViewFragment"
            android:label="@string/title_activity_waiter_view_fragment" >
        </activity>
        <activity
            android:name="com.view.SettingFragment"
            android:label="@string/title_activity_setting_fragment" >
        </activity>
        <activity
            android:name="com.view.order.OrderFragment"
            android:label="@string/title_activity_order_fragment" >
        </activity>
        <activity
            android:name="com.view.menu.DescriptionScreenFragment"
            android:label="@string/title_activity_description_screen_fragment" >
        </activity>
        <activity
            android:name="com.view.manager.ManagerFragment"
            android:label="@string/title_activity_manager_fragment" >
        </activity>
        <activity
            android:name="com.view.DefaultRightFragment"
            android:label="@string/title_activity_default_right_fragment" >
        </activity>
        <activity
            android:name="com.view.AboutFragment"
            android:label="@string/title_activity_about_fragment" >
        </activity>
        <activity
            android:name="com.view.cook.OrderDetailFragment"
            android:label="@string/title_activity_order_detail_fragment" >
        </activity>
        <activity
            android:name="com.view.manager.GraphFragment"
            android:label="@string/title_activity_graph_fragment" >
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" >
    </uses-permission>

</manifest>